html,
body {
  height: 100%;
  margin: 0; /* デフォルトの余白を消す（重要） */
  padding: 0;
}
/* 全体の高さを100%に設定 */

.home-container {
  min-height: 100vh; /* ビューポートの高さに合わせる */
  display: flex;
  flex-direction: column; /*縦に並べる*/
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #0891b2;
}
/*マインヘイトっていうのは最少の高さを規定する*/
